<% 
    location = t('home.title')
    unless @category.nil?
      location << ' / ' << @category.ident
    end
    content_for :page_location, location
%>

<% if policy(HomepageMessage).new? %>
  <a href="<%= homepage_messages_path %>"><%= t('hmessages.manage_messages') %></a>
  &nbsp;&nbsp;&nbsp;
  <a href="<%= homepage_messages_categories_path %>"><%= t('hmessages.manage_categories') %></a><br/><br/>
<% end %>

<div class="row"> 
	<div class="col-sm-8">
<% @messages.each do |message| %>
	 <div class="row col-sm-12 blog-summary">
		<% unless message.nil? %>
      <h4 class="hl top-zero"><a href="<%= homepage_message_path(message) %>"><%= message.title %></a></h4>
      <ul class="text-muted list-inline">
        <li><i class="fa fa-folder-o"></i> <a href="<%= dashboard_path(message.homepage_messages_category.id) %>"><%= message.homepage_messages_category.ident %></a></li>
				<li><i class="fa fa-user"></i> <a href="#"><%= t('administrator') %></a></li>
        <li><i class="fa fa-calendar"></i> <%= message.published_at.to_formatted_s(:news) %></li>
        <% if policy(message).edit? %>
          <li><i class="fa fa-edit"></i> <%= link_to t('edit'), edit_homepage_message_path(message), class: "text-muted" %></li>
        <% end %>
			</ul>
			<hr/>
			<div class="blog-text">
				<%= raw(message.body) %>
			</div>
		<% else %>
			<%= t('hmessages.no_message') %>
		<% end %>
  </div>
  <br/>
<% end %>
  </div>
  <div class="col-sm-3 sidebar-nav-fixed">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('hmessages.recently_added') %></h3>
      </div>
      <div class="panel-body">
        <div class="recent-blogs">        
          <ul>
            <% @latest.each do |message| %>
              <%
                  cclass = ''
                  if message.published_at > Time.now-1.hour
                    cclass = 'new-story'
                  end
              %>

            <li><a href=" <%= homepage_message_path(message) %>" class="<%= cclass %>"><%= message.title %></a></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('hmessages.categories') %></h3>
      </div>
      <div class="panel-body">
        <div class="recent-blogs">        
          <ul>
            <% @categories.each do |cat| %>
            <li><a href=" <%= dashboard_path(cat.id) %>"><%= cat.ident %></a></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>