<% content_for :page_location, t('blacklist.title') %>

<div class="row">
	<div class="col-sm-12 customer-box">
		<h2 class="hl top-zero"><%= "#{@customer.name} (#{@customer.cnp})" %></h2>
		<hr/>

    <div class="customer-links">
      <% if policy(@customer).edit? %>
  			<%= link_to t('edit'), edit_bad_customer_path(@customer), class: 'btn btn-primary btn-sm' %>
      <% end %>
		</div>

		<div class="customer-info">
			<%= t('added_by') %> <%= link_to @customer.user.full_name, user_path(@customer.user) %>
		</div>

		<div class="customer-message">
			<%= @customer.message %>
		</div>

		<hr />

		<div class="comment-form">
			<%= simple_form_for([@customer, @comment], html: { role: "form", id: 'addCommentForm' }, defaults: { input_html: { class: 'form-control' } } ) do |f| %>

			<%= f.error_notification %>
			<div class="form-inputs">
				<%= image_tag "/profile_pictures/#{current_user.profile_picture}" %>
				<%= f.input :body, :required => true, label: t('blacklist.add_comment') %>
				<%= f.button :submit, t('post'), class: "btn btn-primary" %>
			</div>
		<% end %>
		</div>

		<div class="comments-list">
		<% @comments.each do |comment| %>
			<div class="comment-item">
				<div class="user-icon">
					<a href="<%= user_path(comment.user) %>">
						<%= image_tag "/profile_pictures/#{comment.user.profile_picture}" %>
						<span><%= comment.user.full_name %></span>
					</a>
				</div>
				<div class="comment-body">
					<span class="customer-item-time">
						added on <i><%= comment.created_at.to_formatted_s(:date) %>
						<%= link_to t('delete'), bad_customer_bad_customer_comment_path(@customer,comment), method: :delete, :confirm => t('blacklist.comment_delete_confirmation') %>, class: "btn btn-danger btn-xs" %>
					</span>
					<p><%= comment.body %></p>
				</div>
			</div>
		<% end %>
		</div>
	</div>
</div>