<% content_for :page_location, "Edit profile" %>

<div class="row">
  <%= render partial: 'users/edit_profile_tabs', locals: { active: 'profile' } %>

  <div class="col-sm-5">
    <h3 class="hl">Edit profile <small><%= current_user.full_name %></small></h3>
    <p class="text-muted">Please fill out the form below to update your profile.</p>
    <hr>
    <h4 class="hl bottom-15">General Information</h4>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true, role: "form", id: 'updateProfieForm' } ) do |f| %>
      <%= f.error_notification %>

      <%= f.input :fname, :required => true, label: 'First name' %>
      <%= f.input :lname, :required => true, label: 'Last name' %>
      <%= f.input :email, :required => true, label: 'E-mail' %>
      <%= f.input :specialization, :required => true, label: 'Specialization' %>
      <%= f.input :language, collection: [["English","en"], ["Romana","ro"]], include_blank: false, label: 'Language' %>
      <%= f.input :country, label: 'Country', include_blank: false %>
      <%= f.input :city, label: 'City' %>

      <h4 class="hl bottom-15">Contact info</h4>
      <hr>
      <%= f.input :phone, label: 'Phone' %>
      <%= f.input :skype, label: 'Skype' %>
      <%= f.input :yahoo, label: 'Yahoo! ID' %>

      <%= f.button :submit, "Save", class: "btn btn-green" %>
    <% end %>

    <h4 class="hl bottom-15">Change password</h4>
    <hr>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true, role: "form", id: 'updateProfieForm' } ) do |f| %>
      <%= f.error_notification %>
      
      <%= f.input :current_password, :required => true, label: 'Current password', wrapper_html: { class: resource.errors.messages.has_key?(:current_password) ? 'has-error' : '' } %>
      <%= f.input :password, :required => false, label: 'New password' %>
      <%= f.input :confirm_password, :required => false, label: 'Confirm password' %>

      <%= f.button :submit, "Change password", class: "btn btn-green" %>
    <% end %>
  </div>

  <div class="pull-left">
    <div class="thumbnail">
      <div class="avatar">
        <a id="bUploader" href="#" data-toggle="modal" data-target="#upload-pic" class="thumbnail"><%= image_tag "/profile_pictures/thumbs2/#{current_user.get_profile_picture}", id: 'iCurrentProfilePic' %></a>
        <div class="avatar-bubble">
          <a href="#" data-toggle="modal" data-target="#upload-pic"><i class="fa fa-plus"></i> Change</a>
        </div>
      </div>
    </div>
    <div class="modal fade" id="upload-pic" tabindex="-1" role="dialog" aria-labelledby="upload-pic-title" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="upload-avatar-title">Change profile picture</h4>
          </div>
          <div class="modal-body">
            <p>Please choose a file to upload. JPG, PNG only.</p>
            <%= simple_form_for(:temp_image, url: user_upload_profile_picture_path, :html => { :multipart => true, id: "fProfilePicture" }, :remote => true) do |f| %>
                <input type="file" name="profile_picture" id="tiInput" />

                <div id="jcrop">
                  <img id="picUrl" src="" />
                  <input type="hidden" id="user_pic_name" value="" />
                  <input type="hidden" id="user_pic_cropx" value="0" />
                  <input type="hidden" id="user_pic_cropy" value="0" />
                  <input type="hidden" id="user_pic_cropw" value="0" />
                  <input type="hidden" id="user_pic_croph" value="0" />
                </div>

                <a href="#" class="btn btn-primary" id="fPicker">Choose a picture</a>
                <button type="button" id="fPickerDone" class="btn btn-green" data-dismiss="modal">Upload</button>
                <button type="button" id="fPickerCancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <div>
</div>