<div class="box">
  <h1>Update your profile</h1>
  <div>
    <div class="span6 offset3">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true, role: "form", id: 'updateProfieForm' }, defaults: { input_html: { class: 'form-control' } } ) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :fname, :required => true, label: 'First name' %>
          <%= f.input :lname, :required => true, label: 'Last name' %>
          <%= f.input :email, :required => true, label: 'E-mail' %>
          
          <%= f.input :avatar, label: 'Profile picture', as: :avatar, input_html: { id: 'cropbox' } %>

          <br/>
          <%= f.input :password, :required => false, label: 'New password' %>
          <%= f.input :confirm_password, :required => false, label: 'Confirm password' %>
          <br/>

          <%= f.input :current_password, :required => true, label: 'Current password', wrapper_html: { class: resource.errors.messages.has_key?(:current_password) ? 'has-error' : '' } %>
          <br/>
          <%= f.button :submit, "Update", class: "btn btn-primary" %>
        </div>
          <% end %>
    </div>  
  </div>
</div>