<% content_for :page_location, "Homepage messages" %>

<div class="row">
	<div class="col-sm-12 jobs-box">
		<h2 class="hl top-zero">Homepage messages</h2>
		<hr/>
		<%= link_to 'Add new message', new_homepage_message_path %>
		<br/>

		<%= paginate @messages %>

		<div class="row index-table">
			<div class="row head-row">
				<div class="col-sm-6">Title</div>
				<div class="col-sm-1">Country</div>
				<div class="col-sm-1">Views</div>
				<div class="col-sm-2">Modified</div>
				<div class="col-sm-2"></div>
			</div>

			<% @messages.each do |msg| %>
				<div class="row">
					<div class="col-sm-6"><a href="<%= homepage_message_path(@country,msg) %>"><%= msg.title %></a></div>
					<div class="col-sm-1"><%= msg.website_country %></div>
					<div class="col-sm-1"><%= msg.views %></div>
					<div class="col-sm-2"><%= msg.updated_at.to_formatted_s(:short) %></div>
					<div class="col-sm-2"><a href="<%= edit_homepage_message_path(msg) %>">Edit</a></div>
				</div>
			<% end %>
		</div>
	</div>
</div>