<%= simple_form_for @upload, html: { multipart: true, id: "fileupload" } do |f| %>
  <%= f.file_field :uploaded_file, multiple: true, name: 'upload[uploaded_file]', id: "input_files" %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
	<li><div class="upload {%=o.cname%}"></div></li>
</script>

<div class="profile-container">
	<div class="profile-info box">
		<%= link_to image_tag("/profile_pictures/#{current_user.profile_picture}", class: 'profile-picture'), current_user %>
		<p class="profile-info-name"><%= current_user.full_name %></p>
		<p class="profile-info-specialization"><%= current_user.specialization %></p>
		<p class="profile-info-location"><%= current_user.city %>, <%= current_user.country %></p>
		<%= render 'shared/followers_stats' %>
	</div>
	<div class="profile-feed-container" ng-controller="FeedController">
		<div class="profile-feed-form box">
			<%= simple_form_for(@status, html: { role: "form", id: 'postStatusForm' }, defaults: { input_html: { class: 'form-control' } } ) do |f| %>

				<%= f.input :message, :required => true, label: false, input_html: { placeholder: "Post something..." } %>
				<%= f.button :submit, "Post", class: "btn btn-primary" %>
				<%= link_to "Add image", '#', class: "btn btn-warning", id: "but-add-image" %>
				<div class="images-container">
					<ul class="images-list"></ul>
				</div>
			<% end %>

		</div>
		<div class="profile-feed-list box">
			<% @activities.each do |activity| %>
				<%= render "activities/#{activity.name}", subject: activity.subject %>
			<% end %>
		</div>
	</div>
</div>