<div class="profile-container">
  <div class="profile-info box">
    <%= link_to image_tag("/profile_pictures/#{@user.get_profile_picture}", class: 'profile-picture'), @user %>
    <p class="profile-info-name"><%= @user.full_name %></p>
    <p class="profile-info-specialization"><%= @user.specialization %></p>
    <p class="profile-info-location"><%= location_for(@user) %></p>
    <%= render 'shared/followers_stats' %>
  </div>
  <div class="profile-feed-container profile-followers-container box">
    <h2><%= @title %></h2>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= paginate @users, :outer_window => 3 %>
    <% end %>
  </div>
</div>