<% content_for :page_location, "News" %>

<%
	column1, column2, column3 = [], [], []

	@news.each_with_index do |news, index|
		column1.push(news) if (index % @columns == 0)
		column2.push(news) if (index % @columns == 1)
		column3.push(news) if (index % @columns == 2)
	end
%>

<% if current_user.admin? %>
  <%= link_to 'Add news', new_news_path %>
  &nbsp;&nbsp;&nbsp;
  <%= link_to 'Manage news categories', news_categories_path %>
<% end %>
<br/>
<div class="news-list-container news-list" ng-controller="NewsController">
	<div class="news-list-box row col-sm-12">
		<% if @columns == 3 %>
			<div class="col-sm-4">
				<div id="col1" class="news-box">
					<%= render :partial => 'news/news_list', :locals => { news_list: column1, columns: @columns } %>
				</div>
			</div>
			<% if column2.length > 0 %>
			<div class="col-sm-4">
				<div id="col2" class="news-box">
					<%= render :partial => 'news/news_list', :locals => { news_list: column2, columns: @columns } %>
				</div>
			</div>
			<% end %>

			<% if column3.length > 0 %>
			<div class="col-sm-4">
				<div id="col3" class="news-box">
					<%= render :partial => 'news/news_list', :locals => { news_list: column3, columns: @columns } %>
				</div>
			</div>
			<% end %>
			<% else %>
			<div class="col-sm-6">
				<div id="col1" class="news-box">
					<%= render :partial => 'news/news_list', :locals => { news_list: column1, columns: @columns } %>
				</div>
			</div>

			<% if column2.length > 0 %>
			<div class="col-sm-6">
				<div id="col2" class="news-box">
					<%= render :partial => 'news/news_list', :locals => { news_list: column2, columns: @columns } %>
				</div>
			</div>
			<% end %>
		<% end %>
	</div>
	<div class="box col-sm-12 <%= 'hidden' unless @news.next_page %>" id="loadMoreContainer">
		<span class="hidden"><%= image_tag('preloader.gif') %> Loading...</span>
		<%= link_to 'Load more', news_index_path(:page => @news.next_page), :class => 'load-more-news', :remote => true if @news.next_page %>
	</div>
</div>