<% content_for :page_location, "News" %>

<%
	column1, column2, column3 = [], [], []

	@news.each_with_index do |news, index|
		column1.push(news) if (index % @columns == 0)
		column2.push(news) if (index % @columns == 1)
		column3.push(news) if (index % @columns == 2)
	end
%>

<%= link_to 'Add news', new_news_path %>
<br/>

<div class="news-list-box">
<% if @columns == 3 %>
	<div class="box news-box news-box-3">
		<% column1.each do |news| %>
			<%= render partial: "news_thumb", object: news %>
			<hr />
		<% end %>
	</div>
	<% if column2.length > 0 %>
	<div class="box news-box news-box-3">
		<% column2.each do |news| %>
			<%= render partial: "news_thumb", object: news %>
		<% end %>
	</div>
	<% end %>

	<% if column3.length > 0 %>
	<div class="box news-box news-box-3">
		<% column3.each do |news| %>
			<%= render partial: "news_thumb", object: news %>
		<% end %>
	</div>
	<% end %>
<% else %>
	<div class="box news-box news-box-2">
		<% column1.each do |news| %>
			<%= render partial: "news_thumb", object: news %>
		<% end %>
	</div>

	<% if column2.length > 0 %>
	<div class="box news-box news-box-2">
		<% column2.each do |news| %>
			<%= render partial: "news_thumb", object: news %>
		<% end %>
	</div>
	<% end %>
<% end %>
</div>