<% content_for :page_location, "Offers" %>

<div class="row">
	<div class="col-sm-12 offers-box">
		<h2 class="hl top-zero">Offers</h2>
		<hr/>

		<%= link_to 'Add new offer', new_offer_path %>
		<br/>

		<%= paginate @offers %>
		
		<ul class="offers-list">
			<% @offers.each do |offer| %>
				<li class="offer-item clearfix">
					<a href="<%= offer_path(offer) %>"><h4><span>[<%= ['', 'Selling', 'Buying', 'Rental'][offer.type] %>]</span> <%= offer.title %></h4></a>

					<span class="offer-item-time">Posted <i><%= time_ago_in_words(offer.created_at) %></i> ago by <%= link_to current_user.full_name, user_path(current_user) %></span>

					<p class="offer-item-summary"><a class="offer-image-link" href="<%= offer.image.url(:large) %>"><%= image_tag offer.image.url(:thumb), align: 'left' %></a> <%= offer.summary %></p>
				</li>
			<% end %>
		</ul>
	</div>
</div>