<% status_user = subject.user %>

<div class="feed-item feed-item-status box" id="feed-item-<%= subject.id %>">
	<%= link_to image_tag("/profile_pictures/thumbs/#{status_user.get_profile_picture}", class: 'feed-item-user-icon'), status_user %>
	<div class="feed-item-container">
		<h5><%= link_to status_user.full_name, status_user %></h5>
		<div class="feed-item-content">
			<%= subject.message %>
		</div>
		<div class="feed-item-images">
			<% subject.uploads.each do |upl| %>
				<div class="feed-item-image-container" id="upload-<%= upl.id %>">
					<a class="feed-item-image-link" rel="group<%= subject.id %>" href="<%= upl.uploaded_file.url(:large) %>"><%= image_tag(upl.uploaded_file.url(:small), class: 'feed-item-image-thumb') %></a>
					<% if current_user?(status_user) %>
						<a href="#" class="feed-item-image-delete glyphicon glyphicon-remove" ng-click="removeUpload(<%= upl.id %>)"></a>
					<% end %>
				</div>
			<% end %>
		</div>
		<span class="timestamp"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(subject.created_at) %></span>

		<% if current_user?(status_user) %>
			&nbsp;&nbsp;<span class="timestamp"><i class="fa fa-trash-o"></i> 
			<%= link_to t('delete'), status_path(subject), method: :delete, :confirm => t('status.delete_confirmation'), class: "btn-remove-status text-muted" %>
		<% end %>

		<%= simple_form_for([subject, @status_comment], html: { role: "form", class: 'feed-comment-form' }) do |f| %>

			<%
				#TODO: refactor all this using angular
				@comments = subject.status_comments.page(1).per(StatusComment::COMMENTS_PER_PAGE)
				@comments = @comments.sort_by &:created_at
				@total_comments = subject.status_comments.count
			%>
			<ul class="feed-item-status-comments-list" data-showing="<%= @comments.count %>" data-total="<%= @total_comments %>">
				<% if @comments.count < @total_comments %>
					<li>
						<%= link_to t('status.view_more_comments'), status_status_comments_path(status_id: subject.id, from: @comments.first.id), class: "load-previous-comments", remote: true %>
						<span class="comments-counter">(<%= t('x_out_of_y', x: @comments.count, y: @total_comments) %>)</span>
					</li>
				<% end %>

				<%= render :partial => 'shared/feed_status_comments', :locals => { :comments => @comments, :subject => subject } %>

				<li>
					<%= image_tag("/profile_pictures/thumbs/#{current_user.get_profile_picture}", class: 'feed-item-comment-user-icon') %>
					<%= f.input_field :message, :required => true, as: :string, label: false, placeholder: t('status.write_a_comment'), class: 'comment_input form-control' %>
				</li>
			</ul>	
		<% end %>
	</div>
</div>