<% status_user = subject.user %>

<div class="feed-item feed-item-status box">
	<%= link_to image_tag("/profile_pictures/thumbs/#{status_user.get_profile_picture}", class: 'feed-item-user-icon'), status_user %>
	<div class="feed-item-container">
		<h5><%= link_to status_user.full_name, status_user %></h5>
		<div class="feed-item-content">
			<%= subject.message %>
		</div>
		<div class="feed-item-images">
			<% subject.uploads.each do |upl| %>
				<div class="feed-item-image-container" id="upload-<%= upl.id %>">
					<a class="feed-item-image-link" rel="group<%= subject.id %>" href="<%= upl.uploaded_file.url(:large) %>"><%= image_tag(upl.uploaded_file.url(:small), class: 'feed-item-image-thumb') %></a>
					<% if current_user?(status_user) %>
					<a href="#" class="feed-item-image-delete glyphicon glyphicon-remove" ng-click="removeUpload(<%= upl.id %>)"></a>
					<% end %>
				</div>
			<% end %>
		</div>
		<span class="timestamp"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(subject.created_at) %></span>

		<% if current_user?(status_user) %>
			&nbsp;&nbsp;<span class="timestamp"><i class="fa fa-trash-o"></i> 
			<%= link_to "Delete", status_path(subject), method: :delete, :confirm => "Are you sure you want to delete this status?", class: "btn-remove-status text-muted" %>
		<% end %>

		<%= simple_form_for([subject, @status_comment], html: { role: "form", class: 'feed-comment-form' }) do |f| %>

			<ul class="feed-item-status-comments-list">
				<% subject.status_comments.each do |comment| %>
					<li>
						<%= link_to image_tag("/profile_pictures/thumbs/#{comment.user.get_profile_picture}", class: 'feed-item-comment-user-icon'), comment.user %>
						<div class="feed-item-comment-content">
							<%= link_to comment.user.full_name, comment.user %>
							<span class="feed-item-comment-body"><%= comment.message %></span>

							<br/>
							<span class="timestamp"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(comment.created_at) %></span>
							<% if current_user?(comment.user) %>
								&nbsp;&nbsp;<span class="timestamp"><i class="fa fa-trash-o"></i> 
								<%= link_to "Delete", status_status_comment_path(subject, comment), method: :delete, :confirm => "Are you sure you want to delete this comment?", class: "btn-remove-comment text-muted" %>
								</span>
							<% end %>
						</div>
					</li>
				<% end %>
				<li>
					<%= image_tag("/profile_pictures/thumbs/#{current_user.get_profile_picture}", class: 'feed-item-comment-user-icon') %>
					<%= f.input_field :message, :required => true, as: :string, label: false, placeholder: "Write a comment...", class: 'comment_input form-control' %>
				</li>
			</ul>	
		<% end %>
	</div>
</div>