<% content_for :page_location, "Suppliers" %>

<div class="row">
	<div class="col-sm-12 suppliers-box">
		<h2 class="hl top-zero">Suppliers</h2>
		<hr/>

		<%= link_to 'Add new supplier', new_supplier_path %>
		<br/>

		<%= paginate @suppliers %>
		
		<div class="suppliers-list row col-sm-12">
			<div class="col-sm-6">
				<% @suppliers.each_with_index do |supplier, i| %>
					<% next if i.odd? %>
					<div class="supplier-item clearfix">
						<% unless supplier.image_file_name.nil? %>
						<div class="supplier-logo">
							<%= link_to image_tag(supplier.image.url(:thumb)), supplier %>
						</div>
						<% end %>
						<div class="supplier-details">
							<a href="<%= supplier_path(@country,supplier) %>"><h4><%= supplier.name %></h4></a>
							<p class="supplier-item-location"><span class="supplier-item-location"><%= supplier.name %></span> in <span class="supplier-item-location"><%= "#{supplier.city}, #{supplier.country}" %></span></p>
							<span class="supplier-item-time">Posted on <i><%= supplier.created_at.to_formatted_s(:date) %></i> by <%= link_to supplier.user.full_name, user_path(supplier.user) %></span>
						</div>
					</div>
				<% end %>
			</div>
			<div class="col-sm-6">
				<% @suppliers.each_with_index do |supplier, i| %>
					<% next if i.even? %>
					<div class="supplier-item clearfix">
						<% unless supplier.image_file_name.nil? %>
						<div class="supplier-logo">
							<%= link_to image_tag(supplier.image.url(:thumb)), supplier %>
						</div>
						<% end %>
						<div class="supplier-details">
							<a href="<%= supplier_path(@country,supplier) %>"><h4><%= supplier.name %></h4></a>
							<p class="supplier-item-location"><span class="supplier-item-location"><%= supplier.name %></span> in <span class="supplier-item-location"><%= "#{supplier.city}, #{supplier.country}" %></span></p>
							<span class="supplier-item-time">Posted on <i><%= supplier.created_at.to_formatted_s(:date) %></i> by <%= link_to supplier.user.full_name, user_path(supplier.user) %></span>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>