<% content_for :page_location, "Suppliers" %>

<div class="row">
	<div class="col-sm-12 suppliers-box">
		<h2 class="hl top-zero">Add new supplier</h2>
		<hr/>

		<%= simple_form_for(@supplier, url: suppliers_path, html: { role: "form", id: 'addSupplierForm' }, defaults: { input_html: { class: 'form-control' } } ) do |f| %>

			<%= f.error_notification %>
			<div class="form-inputs">
				<%= f.input :name, :required => true, label: 'Name' %>
				<%= f.input :email, :required => false, label: 'E-mail' %>
				<%= f.input :phone, :required => false, label: 'Phone' %>
				<%= f.input :website, :required => false, label: 'Website' %>
				<%= f.input :description, :required => true, label: 'Description'  %>
				<%= f.input :country, :required => true, label: 'Country' %>
				<%= f.input :city, :required => true, label: 'City' %>
				<%= f.input :address, :required => false, label: 'Address' %>
			</div>

			<br/>
	        <%= f.button :submit, "Post", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>