<% content_for :page_location, "Suppliers" %>

<div class="row">
	<div class="col-sm-12 supplier-box">
		<h2 class="hl top-zero"><%= @supplier.name %></h2>
		<hr/>

		<h5><span><%= "#{@supplier.city}, #{@supplier.country}" %></span></h5>

		<div class="supplier-links">
			<%= link_to 'Edit', edit_supplier_path(@country, @supplier), class: 'btn btn-primary btn-sm' %>
		</div>

		<hr/>

		<div class="supplier-info">
			<table>
				<tbody>
					<tr>
						<% unless @supplier.image_file_name.nil? %>
							<td class="supplier-image" rowspan="4"><%= image_tag @supplier.image.url(:thumb) %></td>
						<% end %>
						<td class='supplier-cname' align="left">E-mail:</td><td class='supplier-cvalue'><%= @supplier.email %></td>
						<td class='supplier-cname' align="left">Views:</td><td class='supplier-cvalue'><%= @supplier.views %></td>
					</tr>
					<tr>
						<td class='supplier-cname' align="left">Phone:</td><td class='supplier-cvalue'><%= @supplier.phone %></td>
						<td class='supplier-cname' align="left">Posted by:</td><td class='supplier-cvalue'><%= link_to @supplier.user.full_name, user_path(@supplier.user) %></td>
					</tr>
					<tr>
						<td class='supplier-cname' align="left">Address:</td><td class='supplier-cvalue'><%= @supplier.address %></td>
						<td class='supplier-cname' align="left"></td><td class='supplier-cvalue'></td>
					</tr>
					<tr><td colspan="2">&nbsp;</td></tr>
				</tbody>
			</table>
		</div>

		<hr/>

		<div class="supplier-description">
			<%= raw(@supplier.description) %>
		</div>
	</div>
</div>