<% content_for :page_location, "Suppliers" %>

<div class="box supplier-box">
	<div class="supplier-name">
		<h1><%= @supplier.name %></h1>
		<h5><span><%= "#{@supplier.city}, #{@supplier.country}" %></span></h5>
	</div>
	<div class="supplier-links">
		<%= link_to 'Edit', edit_supplier_path(@country, @supplier), class: 'btn btn-primary btn-sm' %>
	</div>

	<hr/>

	<div class="supplier-info">
		<ul>
			<li>E-mail: <span><%= @supplier.email %></span></li>
			<li>Phone: <span><%= @supplier.phone %></span></li>
			<li>Address: <span><%= @supplier.address %></span></li>
		</ul>
		<ul>
			<li>Views: <span><%= @supplier.views %></span></li>
			<li>Posted by: <span><%= link_to @supplier.user.full_name, user_path(@supplier.user) %></span></li>
		</ul>
	</div>

	<hr/>

	<div class="supplier-description">
		<%= @supplier.description %>
	</div>
</div>