<div class="sidebar sidebar-right sidebar-chat" id="chatContainer" ng-controller="ChatController" ng-init="init()">
  <div class="search-box">
    <input id="chatSearchInput" class='form-control' ng-model="searchString" type="text" placeholder="Search" />
    <div class="chat-toggle">
        <a id="chat-toggle-link" href="" title="Toggle chat"><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
    </div>
  </div>
  <hr />
  <div class="chat-box">
    <div id="chatbox" data-uid="<%= current_user.id %>" data-profile-picture="<%= current_user.get_profile_picture %>" data-user-name="<%= current_user.full_name %>" data-key="<%= Digest::MD5.hexdigest("#{current_user.id}saltlol") %>">
    </div>

    <ul class="chat-list">
      <li class="chat-user-item" ng-repeat="user in users | filter: notMeFilter">
        <a class="chat-link" href="#" ng-click="showWindow(user.user_id)" title="Click to chat">
          <img ng-src="/profile_pictures/thumbs2/{{user.profile_picture}}" class="chat-item-image" />
          <span class="chat-user-name">{{user.user_name}}</span>
          <br/>
          <span class="chat-user-specialization">{{user.specialization}}</span>
        </a>
      </li>
    </ul>
    <div data-chat-window></div>
  </div>

   <div class="chat-box-bot hidden">
    <ul>
      <li class="chat-user-item box" ng-class="{'chat-open': win.window.visible, 'chat-close': !win.window.visible}" ng-repeat="win in openWindows">
        <div class='chat-window' ng-show="win.window.visible" data-index="{{$index}}">
          <div class='chat-window-title-bar'>
            <div class="chat-window-title-bar-actions rfloat">
              <a href="#" ng-click="ignoreUser(win.user.user_id, $index)" title="Ignore user" ng-show="!win.user.is_ignored"><i class="fa fa-volume-off"></i></a>
              <a href="#" ng-click="unignoreUser(win.user.user_id, $index)" title="Unignore user" ng-show="win.user.is_ignored"><i class="fa fa-volume-up"></i></a>
              <a href="#" ng-click="win.window.visible = false"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
            <div class="chat-window-title-label clearfix">
              <i class="glyphicon glyphicon-user"></i> {{win.user.user_name}}
            </div>
          </div>
          <div class="chat-window-body">
            <div class="chat-window-body-content">
              <table>
                <tr><td>
                  <p class="chat-loader-container"><span class="hidden"><%= image_tag('preloader.gif') %> Loading...</span><a href="#" class="load-more-messages">Load more messages</a></p>
                  <div class="messages">
                    <div class="chat-message clearfix" ng-class="{msgfrom: msg.user.user_id != 0, msgto: msg.user.user_id == 0}" ng-repeat="msg in win.window.messages">
                      <div class="message-pic">
                        <a href="/users/{{msg.user.user_id}}"><img ng-src="/profile_pictures/thumbs2/{{msg.user.profile_picture}}" /></a>
                      </div>
                      <div class="message-body">
                        {{msg.text}}
                      </div>
                    </div>
                  </div>
                </tr></td>
              </table>
            </div>
          </div>
          <textarea ng-enter="sendMessage($index)" ng-model="win.window.message"></textarea>
        </div>
        <a href="#" ng-click="toggleWindow(win.user.user_id)" ng-hide="win.window.visible">
          <i class="glyphicon glyphicon-user"></i> {{win.user.user_name}}
        </a>
      </li>
    </ul>
  </div>
</div>