<div id="header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <div class="logo">
     	<%= link_to image_tag('logo.png', alt: "logo", title: "Dent Group"), root_path %></a>
     </div>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= put_active_menu('homepage') %>"><a href="<%= root_path %>">Home</a></li>
        <li class="<%= put_active_menu('news') %>"><a href="<%= news_index_path %>">News</a></li>
        <li class="<%= put_active_menu('my_profile') %>"><a href="<%= feed_path %>">My profile</a></li>
        <li class="dropdown <%= put_active_menu('offers') %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Offers <b class="caret"></b></a>
            <ul class="dropdown-menu">
	            <li><%= link_to t('selling'), offers_selling_path %></a></li>
				      <li><%= link_to t('buying'), offers_buying_path %></li>
				      <li><%= link_to t('rentals'), offers_rentals_path %></li>
              <li class="divider"></li>
              <li class="last"><%= link_to 'Blacklist', bad_customers_path %></li>
            </ul>
        </li>
        <li class="<%= put_active_menu('jobs') %>"><a href="<%= jobs_path %>">Jobs</a></li>
        <li class="<%= put_active_menu('suppliers') %>"><a href="<%= suppliers_path %>">Suppliers</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="country-select">
            <select name="countries" id="countrySelect" class="selectpicker">
              <option value='int' data-content="<div class='flag int' /> International" <%= "selected" if current_country == 'int'%>>International</option>
              <option value='ro' data-content="<div class='flag ro' /> Romania" <%= "selected" if current_country == 'ro'%>>Romania</option>
            </select>
          </div>
        </li>
      	<li class="dropdown dropdown-profile">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<div class="dropdown-pic">
				<%= image_tag "/profile_pictures/thumbs2/#{current_user.get_profile_picture}", class: 'menu-profile-icon' %>
				</div>
				<div class="dropdown-name">
					<p class="dropdown-name-full"><%= current_user.fname %></p>
					<% unless current_user.specialization.nil? %>
						<p class="dropdown-name-specialization"><%= current_user.specialization %></p>
					<% end %>
				</div>
				<div class="clearfix"></div>
			</a>
	     <ul class="dropdown-menu">
				<li><%= link_to t('edit_profile'), edit_user_registration_path %></li>
				<li class="divider"></li>
				<li><%= link_to t('sign_out'), destroy_user_session_path, method: :delete %></li>
	        </ul>
        </li>

        <li id="search">
          <a href="#" id="search-btn"><i class="fa fa-search" id="search-icon"></i> Search</a>
          <div class="search-box hidden" id="search-box">
            <form action="<%= search_path %>" method="GET">
              <div class="input-group">
                <input type="text" class="form-control" name="query" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Go!</button>
                </span>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper">
	<div class="section-header">
		<div class="container">
  		<div class="row">
  		  <div class="col-sm-12">
  		    <h1 class="animated slideInLeft"><span><%= content_for?(:page_location) ? yield(:page_location) : "Home" %></span></h1>
  		  </div>
  		</div>
	 </div>
  </div>
