<!doctype html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title><%= content_for?(:title) ? yield(:title) : "Dental Group" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Drs" %>">

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>
  </head>
  <body class="def">
    <header>
      <%= render 'layouts/header' %>
    </header>

    <div class="main-container<%= " unpaid" unless current_user.is_paid? %>">
      <% if current_user.is_paid? %>
        <div class="sidebar sidebar-left sidebar-chat">
          <div class="search-box">
            <div class="chat-toggle">
                <a id="chat-toggle-link" href="" title="Toggle chat"><i class="glyphicon glyphicon-circle-arrow-left"></i></a>
            </div>
            <input class='form-control' type="text" placeholder="Search" />
          </div>
          <hr />
          <div class="chat-box">
            <ul class="chat-list">
              <% @online_users.each do |user| %>
              <li class="chat-user-item">
                <a class="chat-link" href="<%= user_path(user) %>" title="Click to chat">
                  <%= image_tag "/profile_pictures/#{user.get_profile_picture}", class: "chat-item-image" %>
                  <span class="chat-user-name"><%= user.full_name %></span>
                  <br/>
                  <span class="chat-user-specialization"><%= user.specialization %></span>
                </a>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="main-content">
       <%= render 'layouts/messages' %>
       <%= yield %>
      </div>
      <div class="sidebar sidebar-right">
        <button type="button" class="close" aria-hidden="true">&times;</button>
        <div class="activity-box">
          <ul class="activity-list">
            <li class="activity-item">
              <a class="activity-link" href="#" title="Something really amazing just happened.">
                <div class="activity-body">
                  <span class="title">Succcessful operation</span>
                  <h2>Something really amazing just happened.</h2>
                </div>
                <span class="activity-metadata">
                  <span class="activity-timestamp">10 minutes ago</span>
                </span>
              </a>
            </li>
            <li class="activity-item activity-item-last">
              <a class="activity-link" href="#" title="This guys is hiring a technician">
                <div class="activity-body">
                  <span class="title">Looking for technician</span>
                  <h2>This guys is hiring a technician</h2>
                </div>
                <span class="activity-metadata">
                  <span class="activity-timestamp">1 hour ago</span>
                </span>
              </a>
            </li>
          </ul>
      </div>

      <% if current_user.is_paid? %>
        <div class="box chat-box-bot">
          <a href="#" id="aShowChat">
            <i class="glyphicon glyphicon-user"></i> Chat
          </a>
        </div>
      <% end %>
    </div>
    
    <%= render 'layouts/analytics' %>
  </body>
</html>
