<!doctype html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title><%= content_for?(:title) ? yield(:title) : "Dent Group" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Drs" %>">

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <%= csrf_meta_tags %>
  </head>
  <body class="def" ng-app="Drs">
    <%= render 'layouts/header' %>

      <div class="container">
          <div class="main-content">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
          <%= render 'layouts/chat' %>
        </div>
      </div>
    </div>
    
    <%= render 'layouts/analytics' %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
