<!doctype html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title><%= content_for?(:title) ? yield(:title) : "Dental Group" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Drs" %>">

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>
  </head>
  <body class="def">
    <header>
      <%= render 'layouts/header' %>
    </header>

    <div class="main-container">
      <div class="sidebar sidebar-left">
        <div class="search-box">
          <input class='form-control' type="text" placeholder="Search for anything" />
        </div>
        <hr/>
        <div class="activity-box">
          <ul class="activity-list">
            <li class="activity-item">
              <a class="activity-link" href="#" title="Something really amazing just happened.">
                <div class="activity-body">
                  <span class="title">Succcessful operation</span>
                  <h2>Something really amazing just happened.</h2>
                </div>
                <span class="activity-metadata">
                  <span class="activity-timestamp">10 minutes ago</span>
                </span>
              </a>
            </li>
            <li class="activity-item activity-item-last">
              <a class="activity-link" href="#" title="This guys is hiring a technician">
                <div class="activity-body">
                  <span class="title">Looking for technician</span>
                  <h2>This guys is hiring a technician</h2>
                </div>
                <span class="activity-metadata">
                  <span class="activity-timestamp">1 hour ago</span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-content">
       <%= render 'layouts/messages' %>
       <%= yield %>
      </div>
    </div>
    
    <%= render 'layouts/analytics' %>
  </body>
</html>
