<!doctype html>
<html lang="en" ng-app="Drs">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title><%= content_for?(:title) ? yield(:title) : "Welcome to Dental Group" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Drs" %>">

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>

    <link rel="prefetch" href="images/zoom.png">
  </head>
  <body id="lp">
    <header>
      <div class="navbar navbar-fixed-top" data-activeslide="1">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="nav-collapse collapse navbar-responsive-collapse">
            <div class='language-picker'>
              <div><%= t('pick_language') %></div>
              <%= link_to '', change_language_path('en'), class: 'flag gb', title: 'English' %>
              <%= link_to '', change_language_path('ro'), class: 'flag ro', title: 'Română' %>
            </div>
            <ul class="nav row navbar-right">
              <%= render 'layouts/landingpage_navigation_links' %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

  <!-- === MAIN Background === -->
  <div class="slide story" id="slide-1" data-slide="1">
    <div class="container">
      <div id="home-row-1" class="row clearfix">
        <div class="col-12">
          <img class="img-logo" src="/assets/logo_big2.png" alt="Logo" title="Dent Group" />
          <h4 class="font-thin"><%= t('lp_subtitle_html') %></h4>
        </div><!-- /col-12 -->
      </div><!-- /row -->
      <div id="home-row-2" class="row clearfix">
        <div class="col-12 col-sm-8">&nbsp;</div>
        <div class="col-12 col-sm-3 signup-container">
          <div class="signup" ng-controller="UsersController">
            <p><%= t('sign_up') %></p>
            <%= simple_form_for(:user, html: { id: "signupForm", role: "form" } ) do |f| %>
              <div class="form-inputs">
                <%= f.input :fname, :required => false, label: false, placeholder: t('first_name'), input_html: { class: "form-control", 'ng-model' => "newUser.fname" }, wrapper_html: { class: 'form-group', 'ng-class' => "{'has-error': register_errors.fname}" } %>
                <%= f.input :lname, :required => false, label: false, placeholder: t('last_name'), input_html: { class: "form-control", 'ng-model' => "newUser.lname" }, wrapper_html: { class: 'form-group', 'ng-class' => "{'has-error': register_errors.lname}" } %>
                <div class="errors-container" ng-show="register_errors.fname || register_errors.lname">
                  <p class="text-danger"><%= t('signup_names_error') %></p>
                </div>

                <%= f.input :email, :required => false, label: false, placeholder: t('your_email'), input_html: { class: "form-control", 'ng-model' => "newUser.email" }, wrapper_html: { class: 'form-group', 'ng-class' => "{'has-error': register_errors.email}" } %>
                <div class="errors-container" ng-show="register_errors.email">
                  <p class="text-danger"><%= t('signup_email_error') %></p>
                </div>

                <%= f.input :password, :required => false, label: false, placeholder: t('password'), input_html: { class: "form-control", 'ng-model' => "newUser.password" }, wrapper_html: { class: 'form-group', 'ng-class' => "{'has-error': register_errors.password}" } %>
                <div class="errors-container" ng-show="register_errors.password">
                  <p class="text-danger" ng-repeat="err in register_errors.password">{{err}}</p>
                </div>
              </div>

              <div class="form-actions">
                <%= f.button :submit, t('sign_up'), class: "btn btn-success btn-lg", 'ng-click' => 'signUp()' %>
              </div>
            <% end %>
          </div>
        </div>
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /slide1 -->

  <%= render 'layouts/analytics' %>
  </body>
</html>
